* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  background-color: black;
  position: relative;
}

#images {
  text-align: center;
}

#search-form {
  width: 80%;
  margin: auto;
  height: 70px;
  background-color: rgb(85, 85, 130);
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

/* Combine similar properties */
#search-box,
#search-btn {
  border: 0;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 18px;
}

#search-box {
  flex: 1;
  padding: 0 30px;
}

#search-btn {
  height: 100%;
  width: 10vw;
  background: #ff3929;
  padding: 0 20px;
  cursor: pointer;
  font-size: 20px;
}

#search-box::placeholder {
  color: #fff;
  font-size: 18px;
}

#show-more-btn {
  background: #ff3929;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 20px 40px;
  border-radius: 5px;
  margin: 10px auto 100px;
  cursor: pointer;
  display: none;
  font-size: large;
}

#search-Result {
  width: 80%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

#search-Result img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 5px;
  transition: box-shadow 0.3s; /* Combine transition */
}

#search-Result img:hover {
  box-shadow: 5px 5px 5px 5px white;
}

/* Combine similar properties */
.footer,
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  padding-bottom: 20px;
}

.social {
  display: flex;
  flex-direction: row;
}
/* Combine similar properties */
.social a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
  top: 0;
  padding: 10px 30px;
  transition: 0.9s;
}

.social a:hover {
  color: #db5400;
}

.social i {
  font-size: 2rem;
}

.about-info{
  padding-top: 40px;
}
/* ============================================================================== */
@media screen and (max-width: 480px) {
  #search-form {
    width: 90%;
    margin-top: 150px;
  }

  #images {
    padding-top: 8rem;
  }

  #search-form {
    /* padding: 10px; */
    margin-top: 30px;
  }

  /* Combine similar properties */
  #search-box,
  #search-btn {
    width: auto;
  }

  #search-box {
    flex: 0;
    width: 65vw;
    padding: 0 10px; /* Adjust padding for smaller screens */
  }

  #search-btn {
    padding: 0;
    width: 37vw;
    left: 0;
  }

  #search-Result {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 40px auto 20px;
  }

  #search-Result img {
    height: 100px;
    width: 150px;
    border-radius: 10px;
  }

  /* Combine similar properties */
  .social a {
    margin: 10px;
    padding: 3px;
    padding-bottom: 20px;
  }

  /* ID selector should match case */
  .about-info {
    margin: 20px;
    /* padding: 20px; */
  }

  #About {
    padding-top: 200px;
    /* padding-bottom: 20px ; */
  }
  #About h3 {
    bottom: 10px;
    padding: 10px 20px;
  }
}
